html, body, * {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}
.header {			
	background: #91812c;
	font-size: 1.2em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;						 			
}
.header li {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	padding: 50px 0;
	margin-left: 50px;
	text-align: center;			
}
.header li:first-child {
	margin-left: 0;
}
.header li p:last-child {
	font-size: 0.9em;
	color: #e1d383;
	font-family: 'Caveat', cursive;
	margin-top: -5px; 
}
.header li p:first-child:hover {
	color: #362730;
	-webkit-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}		
a {
	text-decoration: none;
	color: #e7e4d2;
}
.content {
	background: #2d1d26;
}
.logo {			
	max-width: 400px;
	max-height: 141px;
	margin: 0 auto;
	padding: 40px 0;
}
.logo img {
	width: 100%; 
}	
h2, h3, h4 {
	text-align: center;
	color: #c8c3c6;
	font-weight: lighter;
	padding: 40px 0;			
}
h2, h4,  {
	padding: 40px 0;			
}		
.flex-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #e7e4d2;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-weight: lighter;	
}
.circle i {
	font-size: 9em;
	position: absolute;
	top: 50px;
	left: 35px;
}
.circle {
	position: relative;
	background: #362730;
	width: 250px;
	height: 250px;
	border-radius: 100% 100%;
	margin: 0 auto;
}
.column {
	max-width: 300px;
	padding: 0 10px;
	text-align: center;
}
.text {
	padding-top: 40px;
	color: #76616e;
	font-size: 0.8em;			
}
.text a {
	display: inline-block;
	margin: 40px 0;
	font-size: 1.2em;
}
.text a:hover {
	color: #91812c;
	-webkit-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;			
}
.text1 {
	border-top: 1px solid #912d56;			
}
.text2 {
	border-top: 1px solid #5a2d91;			
}
.text3 {
	border-top: 1px solid #2d9184;			
}
ul {
	list-style-type: none;	
}
.column li {
	padding-bottom: 10px;
	font-size: 1.2em; 
}
.column li a:hover,
.service:hover {
	color: #3e4947;
	text-shadow: 0 0 1em white;
	-webkit-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}
input {
	background: transparent;
}
.search-form {
	position: relative;			
	max-width: 550px;
	margin: 0 auto;
	padding-bottom: 40px;
}
.search-form input {			
	width: 500px;
	height: 50px;
	border: 1px solid #d5d5d5;
	color: white;
}
.search-form label {
	position: absolute;
	left: 501px;
	top: 0px;
	display: block;
	height: 50px;
	width: 50px;
	border: 1px solid #d5d5d5;
}
.search-form label i {
	position: absolute;
	left: 12px;
	top: 12px;
	font-size: 1.5em;
}
.search-form label i:hover {			
	color: #3e4947;
	text-shadow: 0 0 1em white;
	-webkit-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out; 
}
.line {
	max-width: 500px;
	margin: 0 auto;
	border-top: 1px solid #ad9e3f;
}
.footer {
	background: #3e4947;
	border-top: 20px solid #3a4442;
}
.icons {
	max-width: 300px;
	margin: 40px auto;
}		
.icons li {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	font-size: 2em;			
}
.icons a {
	color: #7e8987;
	padding-right: 15px;
}
.icons a:hover {
	-webkit-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	        transform: scale(1.05);
}
.footer .end {
	color: #7e8987;
	display: block;
	max-width: 220px;
	margin: 0 auto;
	padding-bottom: 40px; 
}
.footer div span {
	color: #91812c;
}
.parallax-window {
    min-height: 300px;
    background: transparent;
}
.mobile-menu,
#a1, 
#a2, 
#a3,
#valid, 
.about {
	display: none;
}	
.parallax-background {
	background: #827429cc;					
}
.parallax-background h2, 
.parallax-background h3, 
.parallax-background a, 
.parallax-background i {
	color: white;
}
.parallax-background .column {
	padding: 40px 0;
	border-top: 1px solid #ad9e3f;
	border-bottom: 1px solid #ad9e3f;
}
.up {
	display: block;
	position: fixed;
	width: 20px;
	height: 20px;
	right: 20px;
	bottom: 50px;
}
.up i,
.down i {
	font-size: 1.5em;
	color: #7e8987;
}
.up i:hover,
.down i:hover {
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
	text-shadow: 0 0 1em white;
	-webkit-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
	cursor: pointer;
}
.down {
	display: block;
	position: fixed;
	width: 20px;
	height: 20px;
	right: 20px;
	bottom: 20px;
}		
.slider div {
    position: relative;
}
.slider div img {
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 0;
    max-width: 534px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 20px solid #362730;
}
.slider {
    max-width: 534px;        
    margin: 0 auto;
    border-radius: 50%;
    padding: 40px 0;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.flex-containervideo {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	color: #e7e4d2;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-weight: lighter;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.article {
	padding: 0 10px;		
}
.article p {
	padding-bottom: 10px;
	color: #76616e;
	font-size: 0.9em;
}
.article img {
	float: left;
	margin: 0 10px 10px 0;
	max-width: 350px;
	width: 100%;
	cursor: pointer;
}
.article h4 {
	padding: 0 0 10px 0;
}
.video {	
	text-align: center;
	max-width: 400px;
	padding: 20px;
	position: relative;
	cursor: pointer;	
}
.video img {
	max-width: 322px;
	width: 100%;	
	border-radius: 5px;
	opacity: 0.8;
}
.fa-youtube {
	position: absolute;
	font-size: 5em;
	opacity: 0.7;
	top: calc(50% - 45px);
	left: calc(50% - 45px);
}
.video:hover .fa-youtube,
.video:hover img {
	opacity: 1;	
}
.column1:nth-child(2) {
	padding: 0 230px;
}
.service {
	display: block;
	max-width: 160px;
	margin: 40px auto 0 auto;
	padding-bottom: 40px; 						
}
.active p:first-child {
	color: #2d1d26;
}
.active-m p:first-child {
	color: #2d1d26;
	font-size: 1.1em;	
	text-shadow: 0 0 1em white;
}
.tab-content {
	display: none;			  
	padding: 20px;
	background: #362730;			
	color: #e7e4d2;
}
.tab-content img {
	float: left;
	padding: 20px;
	max-width: 260px;
	-webkit-animation: slideleft 1s linear;
	        animation: slideleft 1s linear;
}
.tab-content:after {
	content: '';
	display: block;
	clear: both;
}
.tab-content p {
	padding: 15px;
	opacity: 0;
	-webkit-animation: appearence 1s linear 1s forwards;
	        animation: appearence 1s linear 1s forwards;
}
.tab-content a {
	color: #91812c;
}
.tab-content a:hover {
	text-shadow: 0 0 1em white;
	-webkit-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}
.tab-name {
	font-size: 1.2em;
	color: #e1d383;			
}
.tab {
	padding: 0 0 25px 40px; 
	cursor: pointer;			 
}
h5 {
	font-size: 1.3em;
	color: #e7e4d2;
	font-weight: lighter;
}
h5:hover {
	text-shadow: 0 0 1em white;
	-webkit-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}			
#tab1 {
	display: block;
}
iframe {
	display: none;
	max-width: 100%;
}
.map {
	margin: 20px;
}
.map iframe {
	display: block;
}
.contact-form {
	margin: 20px;	
}
.contact-form input,
.contact-form textarea {
	display: block;
	width: 330px;
	height: 40px;
	background: #21131a;
	color: #86707d;
	margin: 0 auto 20px auto;
	border: 1px solid #86707d;	
}
.contact-form textarea {
	height: 300px;
}
.contact-form label i {		
	font-size: 2em;	
	cursor: pointer; 
}
.contact-form label i:first-child {
	 margin-right:  30px;
}
.center {
	width: 130px;
	margin: 0px auto 0 auto;	
}
.contact-form label i:hover {
	text-shadow: 0 0 1em white;
	-webkit-transition: 0.3s ease-out;
	-o-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}
.contact-form .error {
	border-color: red;
}
.error-text {
	display: none;
	font-size: 0.8em;
	margin: -20px auto 0 auto;
	color: red;
	max-width: 190px; 
}
.fa-check-circle:hover {
	color: #36ae2c;
}
.fa-times-circle:hover {
	color: #aa0909;
}
.back-color {
	background: #362730;
	margin: 15px;
	max-width: 200px;
}
.background {
	position: absolute;
	left: 0;
	top: 0;	
	width: 100%;	
	background: black;
	opacity: 0.7;
	display: none;
}
.popup {
	position: absolute;
	width: 50%;
	left: 25%;			 
	background: #91812cb0;
	padding: 5px;
	border: 2px solid #2d1d26;
	display: none;
	color: #e7e4d2;					
}
.picture {
	text-align: center;	
}
.picture img {
	max-width: 200px;
	width: 100%
}
.info {
	margin: 10px;
}
.info p {
	margin: 5px 0;
}		
.close {
	position: absolute;
	left: calc(100% - 17px);
	top: -5px;
	font-size: 1.1em;
	color: #e31e24;
}
.close:hover {
	-webkit-transform: scale(1.2);
	    -ms-transform: scale(1.2);
	        transform: scale(1.2);
	cursor: pointer;
	text-shadow: 0 0 1em white;	
}
p {
	margin: 5px 0;
}	 
@-webkit-keyframes slideleft {  			
    0% {
       	-webkit-transform: translateX(150%);
       	        transform: translateX(150%);
    }
    50%{
        -webkit-transform: translateX(-8%);
                transform: translateX(-8%);
    }
    65%{
        -webkit-transform: translateX(4%);
                transform: translateX(4%);
    }
    80%{
        -webkit-transform: translateX(-4%);
                transform: translateX(-4%);
    }
    95%{
       	-webkit-transform: translateX(2%);
       	        transform: translateX(2%);
    }           
    100% {
       	-webkit-transform: translateX(0%);
       	        transform: translateX(0%);
    }
}
@keyframes slideleft {  			
    0% {
       	-webkit-transform: translateX(150%);
       	        transform: translateX(150%);
    }
    50%{
        -webkit-transform: translateX(-8%);
                transform: translateX(-8%);
    }
    65%{
        -webkit-transform: translateX(4%);
                transform: translateX(4%);
    }
    80%{
        -webkit-transform: translateX(-4%);
                transform: translateX(-4%);
    }
    95%{
       	-webkit-transform: translateX(2%);
       	        transform: translateX(2%);
    }           
    100% {
       	-webkit-transform: translateX(0%);
       	        transform: translateX(0%);
    }
}  			
@-webkit-keyframes appearence {
	0% {
       	opacity: 0;
    }
    100% {
       	opacity: 1;
   	}
}
@keyframes appearence {
	0% {
       	opacity: 0;
    }
    100% {
       	opacity: 1;
   	}
}

@media all and (max-width: 830px) and (min-width: 381px) {
	.flex-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.column {
		max-width: 750px;
	}
	.header {		
		display: none;								 			
	}
	.mobile-menu {
		display: block;
	}
	.menu-small {
		display: block;
		position: fixed;
		top: -90px;
		left: -90px;
		background: #91812ceb;		
		border-radius: 100%;
		width: 180px;
		height: 180px;
		z-index: 1;
	}	
	.menu-small span {
		display: block;
		position: absolute;
		top: 105px;
		left: 110px;
		font-size: 2em;
		text-align: center;
		color: #e7e4d2;
		cursor: pointer;
	}
	.menu-small span:hover {
		color: #ffffff;
		text-shadow: 0 0 1em white;
		-webkit-transition: 0.3s ease-out;
		-o-transition: 0.3s ease-out;
		transition: 0.3s ease-out;
	}
	.mobile-menu ul {
		width: 100%;
		position: fixed;
		top: 90px;
		list-style-type: none;		
	}
	.mobile-menu li {
		display: none;
		height: 50px;		
		margin-bottom: 1px; 
		background: #91812ceb;
		border-radius: 0 50px 50px 0;
		padding: 0;
		margin-left: 0;
	}
	.mobile-menu li:first-child {
		max-width: 80%;		
		-webkit-animation: slideright1 1s linear forwards;		
		        animation: slideright1 1s linear forwards;		
	}
	.mobile-menu li:nth-child(2) {
		max-width: 75%;	
		opacity: 0;
		-webkit-animation: slideright1 1s linear 0.2s forwards;
		        animation: slideright1 1s linear 0.2s forwards;	
	}
	.mobile-menu li:nth-child(3) {
		max-width: 70%;	
		opacity: 0;
		-webkit-animation: slideright1 1s linear 0.4s forwards;
		        animation: slideright1 1s linear 0.4s forwards;	
	}
	.mobile-menu li:nth-child(4) {
		max-width: 65%;	
		opacity: 0;
		-webkit-animation: slideright1 1s linear 0.6s forwards;
		        animation: slideright1 1s linear 0.6s forwards;	
	}
	.mobile-menu li:nth-child(5) {
		max-width: 60%;
		opacity: 0;
		-webkit-animation: slideright1 1s linear 0.8s forwards;
		        animation: slideright1 1s linear 0.8s forwards;		
	}
	.mobile-menu li:hover {
		background: #91812c; 
		-webkit-transition: 0.3s ease-out; 
		-o-transition: 0.3s ease-out; 
		transition: 0.3s ease-out;						
	}
	.mobile-menu li a {
		text-decoration: none;
		color: #e7e4d2; 		
		text-align: center;				
	}
	.mobile-menu li p:first-child:hover {
		color: #ffffff;
		text-shadow: 0 0 1em white;
		-webkit-transition: 0.3s ease-out;
		-o-transition: 0.3s ease-out;
		transition: 0.3s ease-out;		
	}
	.mobile-menu li p:first-child {
		padding-top: 7px;
	}
	.mobile-menu li p:last-child {
		font-size: 0.9em;
		color: #e1d383;
		font-family: 'Caveat', cursive;
		margin-top: -5px;
		padding-bottom: 5px; 
	}
	.search-form input {			
		width: 200px;
		height: 30px;			
	}
	.search-form label {			
		left: 201px;			
		height: 30px;
		width: 30px;			
	}
	.search-form {
		width: 230px;
	}
	.search-form label i {				
		left: 6px;
		top: 6px;
		font-size: 1em;
	}
	.popup {
		position: absolute;
		width: 70%;
		left: 15%;
	}
	@-webkit-keyframes slideright1 {  			
    	0% {
    		opacity: 1;
       		-webkit-transform: translateX(-150%);
       		        transform: translateX(-150%);
    	}
    	50%{
    		opacity: 1;
        	-webkit-transform: translateX(8%);
        	        transform: translateX(8%);
    	}
    	65%{
    		opacity: 1;
        	-webkit-transform: translateX(-4%);
        	        transform: translateX(-4%);
    	}
    	80%{
    		opacity: 1;
        	-webkit-transform: translateX(4%);
        	        transform: translateX(4%);
    	}
    	95%{
    		opacity: 1;
       		-webkit-transform: translateX(-2%);
       		        transform: translateX(-2%);
    	}           
    	100% {
    		opacity: 1;
       		-webkit-transform: translateX(0%);
       		        transform: translateX(0%);
    	}
	}
	@keyframes slideright1 {  			
    	0% {
    		opacity: 1;
       		-webkit-transform: translateX(-150%);
       		        transform: translateX(-150%);
    	}
    	50%{
    		opacity: 1;
        	-webkit-transform: translateX(8%);
        	        transform: translateX(8%);
    	}
    	65%{
    		opacity: 1;
        	-webkit-transform: translateX(-4%);
        	        transform: translateX(-4%);
    	}
    	80%{
    		opacity: 1;
        	-webkit-transform: translateX(4%);
        	        transform: translateX(4%);
    	}
    	95%{
    		opacity: 1;
       		-webkit-transform: translateX(-2%);
       		        transform: translateX(-2%);
    	}           
    	100% {
    		opacity: 1;
       		-webkit-transform: translateX(0%);
       		        transform: translateX(0%);
    	}
	} 
}
@media all and (max-width: 380px) {
	.flex-container {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.column {
		max-width: 750px;
	}
	.header {		
		display: none;								 			
	}
	.mobile-menu {
		display: block;
	}
	.menu-small {
		display: block;
		position: fixed;
		top: -50px;
		left: -50px;
		background: #91812ceb;		
		border-radius: 100%;
		width: 100px;
		height: 100px;
		z-index: 1;
	}	
	.menu-small span {
		display: block;
		position: absolute;
		top: 55px;
		left: 60px;
		font-size: 1.2em;
		text-align: center;
		color: #e7e4d2;
		cursor: pointer;
	}
	.menu-small span:hover {
		color: #ffffff;
		text-shadow: 0 0 1em white;
		-webkit-transition: 0.3s ease-out;
		-o-transition: 0.3s ease-out;
		transition: 0.3s ease-out;
	}
	.mobile-menu ul {
		width: 100%;
		position: fixed;
		top: 50px;
		list-style-type: none;		
	}
	.mobile-menu li {
		display: none;
		height: 50px;		
		margin-bottom: 1px; 
		background: #91812ceb;
		border-radius: 0 50px 50px 0;
		padding: 0;
		margin-left: 0;
		font-size: 0.9em;
	}
	.mobile-menu li:first-child {
		max-width: 80%;		
		-webkit-animation: slideright1 1s linear forwards;		
		        animation: slideright1 1s linear forwards;		
	}
	.mobile-menu li:nth-child(2) {
		max-width: 70%;	
		opacity: 0;
		-webkit-animation: slideright1 1s linear 0.1s forwards;
		        animation: slideright1 1s linear 0.1s forwards;	
	}
	.mobile-menu li:nth-child(3) {
		max-width: 60%;	
		opacity: 0;
		-webkit-animation: slideright1 1s linear 0.2s forwards;
		        animation: slideright1 1s linear 0.2s forwards;	
	}
	.mobile-menu li:nth-child(4) {
		max-width: 50%;	
		opacity: 0;
		-webkit-animation: slideright1 1s linear 0.3s forwards;
		        animation: slideright1 1s linear 0.3s forwards;	
	}
	.mobile-menu li:nth-child(5) {
		max-width: 40%;
		opacity: 0;
		-webkit-animation: slideright1 1s linear 0.4s forwards;
		        animation: slideright1 1s linear 0.4s forwards;		
	}
	.mobile-menu li:hover {
		background: #91812c; 
		-webkit-transition: 0.3s ease-out; 
		-o-transition: 0.3s ease-out; 
		transition: 0.3s ease-out;						
	}
	.mobile-menu li a {
		text-decoration: none;
		color: #e7e4d2; 		
		text-align: center;				
	}
	.mobile-menu li p:first-child:hover {
		color: #ffffff;
		text-shadow: 0 0 1em white;
		-webkit-transition: 0.3s ease-out;
		-o-transition: 0.3s ease-out;
		transition: 0.3s ease-out;		
	}
	.mobile-menu li p:first-child {
		padding-top: 7px;
	}
	.mobile-menu li p:last-child {
		font-size: 0.9em;
		color: #e1d383;
		font-family: 'Caveat', cursive;
		margin-top: -5px;
		padding-bottom: 5px; 
	}
	.search-form label i {				
		left: 6px;
		top: 6px;
		font-size: 1em;
	}
	.circle i {
		font-size: 7em;	
		top: 42px;
		left: 30px;
	}
	.circle {	
		width: 200px;
		height: 200px;	
	}
	.icons {				
		margin: 20px auto;
		max-width: 170px;
	}
	.icons li {				
		font-size: 1.2em;
	}	
	.icons a {
		padding-right: 5px;
	}
	.footer .end {
		-webkit-transform: scale(0.7);
		    -ms-transform: scale(0.7);
		        transform: scale(0.7);				
	}
	.search-form input {			
		width: 170px;
		height: 30px;			
	}
	.search-form label {			
		left: 171px;			
		height: 30px;
		width: 30px;			
	}
	.search-form {
		width: 200px;
	}	
	.tab-content img {			
		max-width: 170px;
	}
	.contact-form input,
	.contact-form textarea {		
		width: 220px;
	}
	.popup {
		position: absolute;
		width: 80%;
		left: 10%;
	}
	@-webkit-keyframes slideright1 {  			
    	0% {
    		opacity: 1;
       		-webkit-transform: translateX(-150%);
       		        transform: translateX(-150%);
    	}
    	50%{
    		opacity: 1;
        	-webkit-transform: translateX(8%);
        	        transform: translateX(8%);
    	}
    	65%{
    		opacity: 1;
        	-webkit-transform: translateX(-4%);
        	        transform: translateX(-4%);
    	}
    	80%{
    		opacity: 1;
        	-webkit-transform: translateX(4%);
        	        transform: translateX(4%);
    	}
    	95%{
    		opacity: 1;
       		-webkit-transform: translateX(-2%);
       		        transform: translateX(-2%);
    	}           
    	100% {
    		opacity: 1;
       		-webkit-transform: translateX(0%);
       		        transform: translateX(0%);
    	}
	}
	@keyframes slideright1 {  			
    	0% {
    		opacity: 1;
       		-webkit-transform: translateX(-150%);
       		        transform: translateX(-150%);
    	}
    	50%{
    		opacity: 1;
        	-webkit-transform: translateX(8%);
        	        transform: translateX(8%);
    	}
    	65%{
    		opacity: 1;
        	-webkit-transform: translateX(-4%);
        	        transform: translateX(-4%);
    	}
    	80%{
    		opacity: 1;
        	-webkit-transform: translateX(4%);
        	        transform: translateX(4%);
    	}
    	95%{
    		opacity: 1;
       		-webkit-transform: translateX(-2%);
       		        transform: translateX(-2%);
    	}           
    	100% {
    		opacity: 1;
       		-webkit-transform: translateX(0%);
       		        transform: translateX(0%);
    	}
	}	
}	